<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# My Jupiter NoteBook on IBM Watson Studio

**Joshua Vindas**
Desired Occupation: Data Scientist

*I am interested in data science because I feel my background in engineering will help me find my industry in data science. I am interested in engineering but discovered I enjoy the coding when I took an AI and Ml course and really enjoyed it.*

### My code is supposed to output the sum of the two numbers

In [1]:
17+92

109

Top three Data Science Languages
1. __[Python](http://python.org)__
2. R
3. SQL

List of Data Science Libraries
- Tensorflow
- Pandas
- Keras
- NumPy

In [4]:
num_1 = input("Enter first value")
num_2 = input("Enter second value")
num_3 = input("Enter third value")

product = float(num_2)*float(num_3)+float(num_1)

print(product)

Enter first value 3
Enter second value 4
Enter third value 5

23.0